:root {
    --bs-font-sans-serif: Arimo !important;
}

.fs-7 {
	font-size: 0.9rem;
}

.fs-8 {
	font-size: 0.8rem;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: 0 0;
}

::-webkit-scrollbar-corner {
    width: 8px;
    height: 8px;
    background: 0 0;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 0;
}

.scrollbar {
	scrollbar-color:  #ccc transparent;
}

#content {
	margin-top: 60px;
}
