{% macro button(text, action = '', style = 'primary', icon = {}, size = '', id = '', classes = '') %}
	{% import 'macros/icons.twig' as icons  %}
    {% set classes = 'btn btn-' ~ style ~ (size ? ' btn-' ~ size: '') ~ (classes ? ' ' ~ classes : '') %}
	<button id={{ id|default(random()) }} type="button" class="{{ classes }}" name="button_action" value="{{ action }}">
		{% if icon %}
    		<span class="icon">{{ icons.svg(icon.name, icon.width|default(18), icon.height|default(18)) }}</span>
		{% endif %}
	    <span>{{ text }}</span>
	</button>
{% endmacro %}

{% macro submit(text, action = '', style = 'primary', icon = {}, size = '', id = '', classes = '') %}
	{% import 'macros/icons.twig' as icons  %}
    {% set classes = 'btn btn-' ~ style ~ (size ? ' btn-' ~ size: '') ~ (classes ? ' ' ~ classes : '') %}
	<button id={{ id|default(random()) }} type="submit" class="{{ classes }}" name="button_action" value="{{ action }}">
		{% if icon %}
    		<span class="icon">{{ icons.svg(icon.name, icon.width|default(18), icon.height|default(18)) }}</span>
		{% endif %}
	    <span>{{ text }}</span>
	</button>
{% endmacro %}

{% macro button_link(text, style = 'primary', icon = {}, size = '', id = '', classes = '', href = '') %}
	{% import 'macros/icons.twig' as icons  %}
	{% set classes = 'btn btn-' ~ style ~ (size ? ' btn-' ~ size: '') ~ (classes ? ' ' ~ classes : '') %}
	<a id={{ id|default(random()) }} class="{{ classes }}" href="{{ href }}" role="button">
		{% if icon %}
			<span class="icon">{{ icons.svg(icon.name, icon.width|default(18),  icon.height|default(18)) }}</span>
		{% endif %}
		{% if text %}
			<span>{{ text }}</span>
		{% endif %}
	</a>
{% endmacro %}


{% macro link(text, href, style = 'primary', icon = '', id = '', classes = '') %}
	{% import 'macros/icons.twig' as icons  %}
	{% set classes = 'link-' ~ style ~ (classes ? ' ' ~ classes : '') %}
	<a id={{ id|default(random()) }} class="{{ classes }}" href="{{ href }}">
		{% if icon %}
			<span class="icon">{{ icons.svg(icon.name, icon.width|default(18),  icon.height|default(18)) }}</span>
		{% endif %}
		{% if text %}
			<span>{{ text }}</span>
		{% endif %}
	</a>
{% endmacro %}
