{% macro svg(name, width = 18, height = 18, color = 'currentColor') %}
	<svg class="bi" width="{{ width }}" height="{{ height }}" fill="currentColor">
  		<use xlink:href="{{ asset('icons') }}/icons.svg#{{ name }}"/>
	</svg>
{% endmacro %}