{% import '/macros/icons.twig' as icons %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Stone Personal Wiki</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="{{ asset('/css/main.css') }}" rel="stylesheet">
        <link href="{{ css('main.css') }}" rel="stylesheet">
        {% block css %}
        {% endblock %}
	</head>
	<body>
        <nav class="container-fluid navbar navbar-light bg-light">
            <a class="navbar-brand" href="{{ url('markdown_home') }}">Stone / Personal, Simple and beautiful Wiki</a>
        </nav>
        <nav aria-label="container-fluid breadcrumb">
            <div class="bg-info">
                <ol class="breadcrumb p-1 ps-3">
                    <li class="breadcrumb-item"><a href="{{ url('markdown_home') }}"><span class="mb-3">{{ icons.svg('house') }}</span>Home</a></li>
                    {% if app.getCurrentRoute() != "markdown_home" %}
                        <li class="breadcrumb-item active" aria-current="page"><strong>{{ bread_crumb_caption }}</strong></li>
                    {% endif %}
                </ol>
            </div>
        </nav>
        <div id="main" class="container-fluid">
            {% block content %}{% endblock %}
        </div>
        {% block js %}
        	<script type="text/javascript">
        		const iconUrl = '{{ asset('icons') }}';
        	</script>
        {% endblock %}
	</body>
</html>
