{% import '/macros/html.twig' as html %}
{% import '/macros/icons.twig' as icons %}
{% extends 'layout.twig' %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.css" integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw==" crossorigin="anonymous" />
	<style type="text/css">
        h1 svg {
            vertical-align: inherit;
        }
        h1 a {
            text-decoration: none;
        }
        #content {
			margin-top:100px;
		}
    	.CodeMirror {
            display: block;
            width: 100%;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            padding: 0;
    	}

    	.CodeMirror-focused {
    		border-color:#86b7fe;outline:0;box-shadow:0 0 0 .25rem rgba(13,110,253,.25);
    	}

        .form-control.icon {
            padding-left: calc(1.5em + .75rem);
            background-repeat: no-repeat;
            background-position: left calc(.375em + .1875rem) center;
            background-size: calc(.75em + .375rem) calc(.75em + .375rem);
        }

        .form-control.icon.text {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-type-h1" viewBox="0 0 16 16"><path d="M8.637 13V3.669H7.379V7.62H2.758V3.67H1.5V13h1.258V8.728h4.62V13h1.259zm5.329 0V3.669h-1.244L10.5 5.316v1.265l2.16-1.565h.062V13h1.244z"/></svg>') !important;
        }

        .form-control.icon.tags {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16"><path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/><path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/></svg>');
        }
        .form-control.icon.globe {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16"><path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"/></svg>');
        }
    </style>

{% endblock %}
{% block header %}<form method="post" action="{{ url('markdown_save') }}">{% endblock %}
{% block top_bar %}
    <input type="hidden" id="action" name="markdown[action]" data-role="data" value="{{ action }}">
    <input type="hidden" id="id" name="markdown[_id]" value="{{ markdown['_id']|default('') }}">
    <input type="hidden" id="translations_id" name="markdown[translations_id]" value="{{ request.get('translations_id')|default('') }}">
    <div class="d-flex w-100 align-items-center justify-content-between">
        {{ html.link('', url('markdown_home'), 'primary', {name: 'house', width: 32, height: 32 }) }}
        <div class="d-flex w-100 px-3">
            <div class="col-7">
                <input type="text" class="form-control icon text" id="title" name="markdown[title]" placeholder="Title" data-role="data" value="{{ markdown['title']|default('') }}" autocomplete="off">
            </div>
            <div class="col-3 mx-3">
                <input type="text" class="form-control  icon tags" id="tags" name="markdown[tags]" placeholder="Tags" data-role="data" value="{{ markdown['tags']|join(',') }}" autocomplete="off">
            </div>
            <div class="col-1">
                <input type="text" class="form-control icon globe" id="language" name="markdown[language]" placeholder="Language" data-role="data" value="{{ markdown['language'] }}" autocomplete="off">
            </div>
        </div>
		<div class="btn-group" role="group">
            {{ html.submit('', 'SAVE', 'success', {name: 'save'}, '', '', '') }}
            {{ html.submit('', 'SAVE_VIEW', 'warning', {name: 'box-arrow-right'}, '', '', '') }}
            {{ html.button_link('', 'light', {name: 'arrow-bar-left'}, '', '', '', url('markdown_home')) }}
		</div>
   </div>
{% endblock %}
{% block content %}
    <textarea  id="editor" name="markdown[content]" placeholder="Markdown" id="editor">{{ markdown['content']|default('') }}</textarea>
{% endblock %}
{% block footer %}</form>{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/codemirror.min.js" integrity="sha512-LwxFyHyqmDdcint8dhTSHeJuI+uH5r/vrcGkxH4QhHGP8SpNaS9MVa1BxZRNTb1GPyLBAWrjbWpZTPGgtDgJOw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/mode/markdown/markdown.min.js" integrity="sha512-RyRzXtJqJqnyLwJS5WbQ88an/43qAk0hWwxikNRNimbVeqfo4wB2QAqA/NpT110q6zqxrqCi9bmld/EIiL/bwQ==" crossorigin="anonymous"></script>
    <script src="{{ js('edit.js') }}"></script>
{% endblock %}
