{% set bread_crumb_caption = error.title %}
{% extends 'layout.twig' %}
{% block content %}
    <div class="alert alert-danger" role="alert">
        {{ '' }} {{ error.message }}
    </div>
    {% if error.stack_trace %}
    		{% for error_info in error.stack_trace %}
            <table class="table">
    			{% for error_key, error_value in error_info %}
        			<tr>
        				<td><strong>{{ error_key }}</strong></td>
    					<td>{{ error_value is iterable ? error_value|join(', ') : error_value }}</td>
        			</tr>
    			{% endfor %}
            <table>
            {% endfor %}

    {% endif %}
{% endblock %}
