<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Stone Personal Wiki</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous">
		<link href="{{ asset('/css/main.css') }}" rel="stylesheet">
		{% block css %}{% endblock %}
	</head>
	<body>
	    <div class="container">
			{% block header %}{% endblock %}
			<div class="row">
				<div class="fixed-top bg-light">
					<div class="container py-2">
						{% block top_bar %}{% endblock %}
					</div>
				</div>
			</div>
			<div id="content" class="row">
				{% block content %}{% endblock %}
			</div>
			{% block footer %}{% endblock %}
		</div>
		{% block js %}
			<script type="text/javascript">
				const iconUrl = '{{ asset('icons') }}';
			</script>
		{% endblock %}
	</body>
</html>
