{% import '/macros/html.twig' as html %}
{% import '/macros/icons.twig' as icons %}
{% extends 'layout.twig' %}
{% block top_bar %}
	<nav id="search" class="cnavbar navbar-expand-lg bg-light">
		<div class="d-flex w-100 align-items-center justify-content-between">
			<form class="px-5 w-100"><input type="text" class="form-control" id="search" placeholder="Buscar"></form>
			<div class="px-3">{{ html.link("New", url('post_new')) }}</div>
		</div>
	</nav>
{% endblock %}
{% block content %}
	{% if metadata %}
		<table class="table table-striped">
			{% for data in metadata %}
				<tr>
					<td>
						<div class="d-flex w-100 align-items-center justify-content-between">
							<h2>{{ data.title }}</h2> {{ html.button_link('', 'danger', {name: 'trash'}, '', '', '', url('post_delete', { slug: data.slug })) }}
						</div>
						<div class="w-100 align-items-left">
							{% for tag in data.tags %}
								<span class="badge bg-secondary">{{ icons.svg('tag', 12, 12) }} {{ tag }}</span>
							{% endfor %}
						</div>
						<div class="w-100 align-items-left">
							{% if data.translations|length > 0 %}
							<table>
								<tr>
									{% for lang, translation_slug in data.translations %}
										<td>
											<div class="btn-group btn-group-sm my-2 me-2" role="group">
												<div class="input-group-text">{{ lang }}</div>
												{{ html.button_link('', 'info', {name: 'eye'}, '', '', '', url('post_view', { slug: translation_slug })) }}
												{{ html.button_link('', 'warning', {name: 'pencil-square'}, '', '', '', url('post_edit', { slug: translation_slug })) }}
											</div>
										</td>
									{% endfor %}
									<td>{{ html.button_link('', 'primary', {name: 'globe'}, '', '', '', url('post_new', { translations_id: data.translationsId })) }}</td>
								<tr>
							</table>
							{% else %}
								<table>
									<tr>
										<td>{{ html.link('[es]', url('post_view', { slug: data.slug })) }}</td>
										<td>{{ html.link('[translate]', url('post_view', { slug: data.slug })) }}</td>
									<tr>
								</table>
							{% endif %}
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	<div id="paginationContainer">
		<nav aria-label="Page navigation" class="m-1">
			<ul class="pagination justify-content-center">
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
				</li>
			</ul>
		</nav>
	</div>
{% endblock %}
