{% import '/macros/html.twig' as html %}
{% import '/macros/icons.twig' as icons %}
{% extends 'layout.twig' %}
{% block css %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.1.0/build/styles/default.min.css" integrity="sha256-CGf39SzxAmEe09Ojoh16/2xTRNleX9wBZcEXVnNqwSM=" crossorigin="anonymous">
	<style type="text/css">
		#content {
			margin-top:100px;
		}
		h1 svg {
			vertical-align: inherit;
		}
		h1 a {
			text-decoration: none;
		}
		li {
			list-style-position: inside;
		}
	</style>
{% endblock %}
{% block top_bar %}
	<div class="d-flex w-100 align-items-center justify-content-between">
		<h1 class="m-0 p-0">{{ html.link('', url('post_home'), 'primary', {name: 'house', width: 32, height: 32 }) }} / {{ post.title }}</h1>
		<div  class="btn-group" role="group">
			{{ html.button('', '', 'info', {name: 'clipboard'}, '', 'copyHTML', '') }}
			{{ html.button_link('', 'warning', {name: 'pencil-square'}, '', '', '', url('post_edit', { slug: post.slug })) }}
			{{ html.button_link('', 'primary', {name: 'globe'}, '', '', '', url('post_view', { slug: post.slug })) }}
			{{ html.button_link('', 'primary', {name: 'globe'}, '', '', '', url('post_new', { translations_id: post.translationsId })) }}
			{{ html.button_link('', 'danger', {name: 'trash'}, '', '', '', url('post_delete', { slug: post.slug })) }}
			{{ html.button_link('', 'light', {name: 'arrow-bar-left'}, '', '', '', url('post_home')) }}
		</div>
	</div>
{% endblock %}
{% block content %}
	{{ post.html|raw }}
{% endblock %}
{% block js %}
    {{ parent() }}
	<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.1.0/build/highlight.min.js" integrity="sha256-mHHN4CySQPkog9OC0npU+ZiEln9MvXltSbXOmBWMLkc=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.1.0/build/languages/nginx.min.js" integrity="sha256-DsvSj+J6Zjc4T8qSOLlVK5GW2g+KNKElyjEPT094aP8=" crossorigin="anonymous"></script>
	<script type="text/javascript">hljs.highlightAll();</script>
	<!--	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-xCfKr8zIONbip3Q1XG/u5x40hoJ0/DtP1bxyMEi0GWzUFoUffE+Dfw1Br8j55RRt9qG7bGKsh+4tSb1CvFHPSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	-->
	<script src="{{ js('view.js') }}" type="module"></script>
{% endblock %}
